@media screen and (max-width: 599px) {
    body {
        background: url(../images/background-phone.jpg) no-repeat top center;
        background-size: cover;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
        height: 100%;
    }
    /*Mobile Classes*/
    .menu {
        position: relative;
        width: 100%;
        margin-top: 0%;
    }
    .nav-but {
        position: relative;
        text-align: center;
        font-size: 6vh;
        font-family: "paralucent-condensed";
        font-weight: 200;
        color: white;
        height: 0%;
        margin-top: 0;
    }
    .nav-but:first-child {
        margin-top: 0%;
    }
    .phone-title {
        position: relative;
        margin-top: 50%;
    }
    /*Mobile IDs*/
    #title {
        position: relative;
        width: 100%;
    }
    #name {
        position: relative;
        font-family: "paralucent-condensed";
        font-weight: 300;
        font-size: 17vw;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
    #subhead {
        position: relative;
        margin-top: -5%;
        font-family: "paralucent-condensed";
        font-weight: 300;
        font-size: 6vw;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 600px) {
    body {
        background: url(../images/background.jpg) no-repeat bottom center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
    }
    /*Desktop Classes*/
    .menu-but {
        display: none;
    }
    .menu {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        display: inline-block;
    }
    .nav-but {
        position: relative;
        text-align: center;
        font-size: 3.5vw;
        font-family: "paralucent-condensed";
        font-weight: 200;
        color: white;
    }
    /*Desktop IDs*/
    #title {
        position: relative;
        margin-top: 15%;
        width: 100%;
    }
    #name {
        position: relative;
        font-family: "paralucent-condensed";
        font-weight: 300;
        font-size: 5vw;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
    #subhead {
        position: relative;
        margin-top: -1%;
        font-family: "paralucent-condensed";
        font-weight: 300;
        font-size: 2vw;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
}

@media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 5/3) {
    #title {
        margin-top: 25%;
    }
}